<% include header %>
<% include bar%>
<div class="container">

<section id="posts">
</section>
    <div id="loading"><span class="am-icon-lg am-icon-spinner am-icon-pulse"></span></div>
    <div id="noMore"><span>^_^ 没有更多了</span></div>
    <div id="noData"><span>^_^ 当前列表下没有数据</span></div>
    <input type="hidden" id="timestamp" value="<%=timestamp %>" />
    <div id="loadMore" fromid=""><button type="button" id="loadMoreButton"  data-am-loading="{spinner: 'circle-o-notch', loadingText: '正在加载...', resetText: '加载更多'}"  class="am-btn am-btn-default am-btn-block loadMoreButton">加载更多</button></div>
    <div class="page-data">
        <input type="hidden" id="userId" value="<%= userId%>">
        <input type="hidden" id="pageType" value="<%= page.type%>">
        <input type="hidden" id="pageUserId" value="<%= page.userId?page.userId:0%>">
        <input type="hidden" id="pageTag" value="<%= page.name?page.name:0%>">
        <input type="hidden" id="wechatAppId" value="<%= wechatJs.appId %>">
        <input type="hidden" id="wechatTimestamp" value="<%= wechatJs.timestamp %>">
        <input type="hidden" id="wechatNonceStr" value="<%= wechatJs.nonceStr %>">
        <input type="hidden" id="wechatSignature" value="<%= wechatJs.signature %>">
        <input type="hidden" id="weiboAppKey" value="<%= weibo.appKey%>">
        <input type="hidden" id="weiboUid" value="<%= weibo.uid%>">
        <input type="hidden" id="url" value="<%= page.url%>">
    </div>
</div>
<% include footer%>
<% include js%>
<script src="/javascripts/index.js"></script>

</body>
</html>


